# Style.css by groznyogor <3

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem;
}

.image {
    margin: 1rem;
}

.image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
