# Style.css by groznyogor

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
}

.navigation li {
    display: inline;
    margin-left: 1rem;
}

.navigation a {
    color: #fff;
    text-decoration: none;
}

.server {
    text-align: center;
    padding: 2rem;
}

.server h2 {
    margin-bottom: 1rem;
}

.server p {
    max-width: 600px;
    margin: 0 auto 1rem;
}

.server a {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.server a:hover {
    background-color: #555;
}


.legit {
    text-align: center;
    padding: 2rem;
}

.legit h2 {
    margin-bottom: 1rem;
}

.legit .image {
    margin: 1rem;
    display: inline-block;
}

.legit .image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
